.admin-panel {
  display: flex;
  flex: 1 1 auto;
}

.form-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-white);
  padding: 2rem;
  height: 95vh;
}

.form-group-upload {
  background-color: var(--secondary-grey);
  color: var(--primary-grey);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  margin: 1rem 0;
  width: 80%;
  border-radius: 8px;
}

.button-upload {
  margin-bottom: 1rem;
}

.admin-nav-button {
  min-width: 200px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.admin-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background: var(--panel-blue);
}

ul > li :hover {
  color: white;
  background: var(--primary-grey);
}

.panel-selection {
  width: 100%;
}
