.landing-container {
  margin-top: 2rem;
}

.attract-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.attract-section p {
  width: 16rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  color: var(--third-purple);
}

.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 0.5rem;
  width: 12rem;
}

.buttons button {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  height: 4rem;
  background-color: #3e435f;
  color: #f2f2f4;
  border: none;
}

.buttons a {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  height: 4rem;
  background-color: var(--third-purple);
  color: var(--primary-grey);
  border: none;
  display: flex;
  align-items: center;
}

.desktop-content {
  display: none;
}

@media (min-width: 1024px) {
  .landing-container {
    display: none;
  }

  .desktop-content {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .desktop-content section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 0;
  }

  .youflim-landing img {
    width: 20%;
  }

  .testing-landing img {
    width: 40%;
  }

  .separator {
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
  }
}
