.logout-text {
  text-align: center;
  color: var(--secondary-grey-light);
  margin: 1rem;
}
.logout-window {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logout-window > a {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
