.dialog-details {
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.dialog-details > .section-infos {
  width: 50%;
  border: solid 1px red;
  display: flex;
  justify-content: space-between;
}
.dialog-details > .section-infos > p {
  font-weight: 1rem;
}
