.navbar {
  display: flex;
  height: 60px;
  background: none;
  position: sticky;
  top: 0;
  transition: 0.5s;
  border-radius: 0 0 8px 8px;
  z-index: 4;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(8px);
  transition: 0.5s;
  border-radius: 0 0 8px 8px;
}

.navbar > img {
  margin: auto 1rem;
}

.search-img {
  margin: 0.5rem;
}

.search-container {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
}

#select {
  border: none;
  border-radius: 8px 0 0 8px;
}

#select-category {
  border: none;
  border-left: 1px solid var(--primary-grey);
}

.search-action {
  background-color: var(--button-light);
  margin-left: 1rem;
  font-size: 1rem;
  color: var(--primary-grey);
  padding: 0.5rem;
  border-radius: 8px;
  border-right: 1px var(--primary-grey) solid;
  display: flex;
  align-items: center;
}

.search-close {
  display: flex;
  align-items: center;
  background-color: var(--background-white);
  margin-left: 1rem;
  font-size: 1rem;
  color: var(--primary-grey);
  padding: 0.5rem;
  border-radius: 8px;
  border-right: 1px var(--primary-grey) solid;
  border: none;
}

.navbar-landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem 1rem 1rem;
}

.navbar-landing > img {
  width: 128px;
}

.navbar-landing > a {
  padding: 1rem;
  background-color: var(--third-purple);
  border-radius: 8px;
  color: var(--primary-grey);
}

.menu-burger-button {
  width: 30px;
  height: 30px;
}

.links-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
  margin: 0 1rem 1rem 1rem;
}
.separation-line {
  background-color: var(--background-white);
  height: 2px;
  width: 100%;
}
.menu-dropdown {
  position: absolute;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  background: none;
  color: var(--primary-color);
}

.links-list {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.795);
  backdrop-filter: blur(8px);
}

.navbar-logout-button {
  border: none;
  background: none;
  padding: 0.5rem 1rem 1rem 1rem;
  color: var(--background-white);
  font-size: 1.5rem;
  text-align: left;
}

.menu-dropdown a {
  padding: 0.5rem 1rem;
  color: var(--background-white);
  text-decoration: none;
  font-size: 1.5rem;
}

.menu-dropdown .links-list {
  display: none;
}

.menu-dropdown.open .links-list {
  display: flex;
}
