.signin-container {
  display: flex;
  flex-direction: column;
}

.signin-container > img {
  width: 150px;
  margin: 4rem auto;
}

.login-title {
  font-size: 1.5rem;
}

.login-form-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-white);
  padding: 4rem;
  border-radius: 4rem 0 4rem 0;
  width: 100%;
}

.login-form-fields > button {
  border: none;
  background-color: var(--button-dark);
  color: var(--background-white);
  width: 100%;
  padding: 0.5rem;
  margin-top: 2rem;
  border-radius: 8px;
}

.login-form-group {
  background-color: var(--secondary-grey);
  color: var(--primary-grey);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  margin: 1rem 0;
  width: 100%;
  border-radius: 8px;
}

.login-form-group > input {
  background-color: var(--secondary-grey-light);
  border: none;
  border-radius: 4px;
  height: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .signin-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .signin-container > img {
    width: 300px;
    margin: 0;
  }

  .login-form-fields {
    background-color: var(--background-white);
    padding: 2rem 3rem;
    border-radius: 4rem 0 4rem 0;
    width: 600px;
    margin-left: 4rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .login-form-fields > h1 {
    font-size: 2rem;
  }

  .login-form-fields > button {
    font-size: 1.2rem;
    padding: 0.75rem;
    margin-top: 2rem;
    cursor: pointer;
  }

  .login-form-group {
    padding: 1rem;
  }

  .login-form-group > input {
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  .error-message {
    color: red;
    font-size: 0.9rem;
    text-align: center;
  }
}
